@model EventusPoc.Core.Model.User

@{
    bool isNew = Model.Id == 0;
    ViewBag.Title = isNew ? "Create" : "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSubscribed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSubscribed)
            @Html.ValidationMessageFor(model => model.IsSubscribed)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('input#Login').watermark('Login');
        });
    </script>
}
