@model List<EventusPoc.Core.Model.Event>

<table data-role="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Gracze
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("edit", new { id = item.EventId })">@item.FormattedShortDate</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventParticipants.Count)
        </td>
        <td>
            @Html.ActionLink("Rozlicz", "SettleDebts", new { id = item.EventId }, new { data_role="button", data_mini="true"} )
            @Html.ActionLink("Usuń", "Delete", new { id=item.EventId } , new { data_role="button", data_mini="true"} )
        </td>
    </tr>
}

</table>
