@model EventusPoc.Core.Model.Event

@{
    ViewBag.Title = "Edycja";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        @Html.HiddenFor(model => model.EventId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @*<input type="text" id="@Html.IdFor(m => m.Date)" name="@Html.IdFor(m => m.Date)"/>*@
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div id="participantListAjax" data-role="fieldcontain" >
    @{Html.RenderAction("ParticipantList", new { eventId = Model.EventId });}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>